${header()}

$body$

$if(contact)$<div id="business-name" itemprop="name">$contact.description$ <span id="owner">$contact.owner$</span></div>
<div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><span itemprop="streetAddress">$contact.street$</span> • <span itemprop="postalCode">$contact.zip$</span> <span itemprop="addressLocality">$contact.town$</span></div>
<div>tel <span itemprop="telephone">$contact.phone$</span></div>
<div><script type='text/javascript'>var a = new Array('penglere','kontakt@s','i-breitenstein.ch');document.write("<a title='E-Mail an Spenglerei Breitenstein' href='mailto:"+a[1]+a[0]+a[2]+"'>"+a[1]+a[0]+a[2]+"</a>");</script></div>
<div id="map"><!--<a href="">Lageplan (PDF)</a>--><a href="$contact.map-url$">Online-Karte</a></div>$endif$

$if(emergency-number)$<h2 class="emergency-number">Notfallservice</h2>
<p class="emergency-number">$emergency-number$</p>$endif$

${footer()}
