</div> <!-- end main -->

$if(page-index)$<footer>
  <h2>Impressum</h2>
  <ul>
    <li>Text <a href="http://www.wortgewandt.ch">Wortgewandt</a></li>
    <li>Gestaltung <a href="http://www.vistapoint.ch">Edith Spettig</a></li>
    <li>Programmierung <a href="https://dergestalt.ch">Manuel Schmid dergestalt.ch</a></li>
  </ul>
</footer>$endif$

</div> <!-- end wrapper -->

<script src="/js/jquery-1.9.1.min.js"></script>
<script src="/js/main.js"></script>

</body>
</html>
