${header()}

<div id=description>
  <h2>$title$</h2>
  $if(location)$<p class=location>$location$</p>$endif$
</div>

$if(objects)$<ul id=objects>
$for(objects)$
  <li$if(it.gap)$ class="gap-left"$endif$><a href="/referenzobjekte/$category$/$it.id$"><img src="/img/gallery/$it.image$-small.jpg" /></a></li>
$endfor$
</ul>$endif$

$if(nav)$
<ul id="nav-objects">
  <li>$if(nav.prev)$<a id="nav-prev" title="zum nächsten Objekt" href="/referenzobjekte/$nav.prev$">zurück</a>$endif$</li>
  <li>$if(nav.next)$<a id="nav-next" title="zum vorherigen Objekt" href="/referenzobjekte/$nav.next$">weiter</a>$endif$</li>
  <li><a id="nav-close" title="zurück zur Übersicht" href="/referenzobjekte/$nav.up$">zurück zu „Dachfenster“</a></li>
</ul>
$endif$

$for(images)$$if(it.featured)$
<div id=feature><img src="/img/gallery/$it.id$.jpg" id="img-large" /></div>
$endif$$endfor$

$if(images)$$if(show-switcher)$<div id=thumbnails>
$for(images)$
  <a href="/img/gallery/$it.id$.jpg"><img src="/img/gallery/$it.id$-small.jpg" /></a>
$endfor$
</div>$endif$$endif$

${footer()}
