
@font-face {
  font-family: "TheSerif";
  src: url("/fonts/the-serif/the-serif-200.eot");
  src: url("/fonts/the-serif/the-serif-200.woff") format("woff");
}

@font-face {
  font-family: "TheSansMonoSCd";
  src: url("/fonts/the-sans-mono-scd/the-sans-mono-semicondensed-semilight.eot");
  src: url("/fonts/the-sans-mono-scd/the-sans-mono-semicondensed-semilight.woff") format("woff");
  font-weight: normal;
}
