/*
 * Styles based on HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Custom styles by Manuel Schmid, dergestalt.ch
 *
 */



/* ==========================================================================
   Imports
   ========================================================================== */

@import "normalize";
@import "fonts";

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

@mixin ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
    &:before {
        content: "";
        display: block;
        width: 0;
        height: 150%;
    }
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix {
    *zoom: 1;
}

@mixin clearfix{
  &:before, &:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }
  &:after {
    clear: both;
  }
  /*
   * For IE 6/7 only
   * Include this rule to trigger hasLayout and contain floats.
   */
  *zoom: 1;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

$color: #bd9978;

@mixin mono {
  font-family:"TheSansMonoSCd",monospace;
  font-weight:normal;
}

html {
  font-family:"TheSerif",sans-serif;
  font-size:22px;
  line-height:1.273; /* 28/22 */
}

body {
  width:960px;
  margin:58px auto;
  @include clearfix;
}

h1 {
  margin:0 0 0 20px;
  a {
    @include ir;
    display:block;
    background:transparent url("/img/id.png") no-repeat top left;
    height:72px;
    width:245px;
  }
}

h2 {
  font-weight:normal;
}

#wrapper {
  @include clearfix;
}

nav, footer {
  @include mono;
  font-size:11px;
  line-height:1.9091; /* 21/11 */
  width:180px;
  clear:left;
  float:left;
}

nav {
  margin-top:157px;
  ul {
    margin:0;
    padding:0 0 0 20px;
    ul {
      span {
        background-color:transparent;
        border-color:transparent;
      }
    }
  }
  span {
    border:1px solid $color;
    height:9px;
    width:9px;
    position:absolute;
    left:0px;
    top:5px;
    background-color: $color;
  }
  a {
    padding-left:20px;
    color:inherit;
    text-transform:lowercase;
    text-decoration:none;
    position:relative;
    display:block;
    &:focus {
      outline:none;
    }
  }
  .selected>a, .selected>a:hover, a:hover, .ancestor>a {
    span {
      background-color:transparent;
      border-color:$color;
    }
  }
}

/* show full menu if js is disabled */
.js nav ul {
  ul {
    display:none;
  }
  .ancestor ul {
    display:block;
  }
}

#main {
  float:right;
  position:relative;
  width:703px;
  margin-top:18px;
  a {
    color:inherit;
    text-decoration:none;
    &:hover {
      text-decoration:underline;
    }
  }
}

#objects {
  list-style-type:none;
  padding:0;
  margin:0;
  li {
    float:left;
    margin-right:15px;
    margin-bottom:13px;
  }
  a {
    display:block;
    &:hover {
      margin:-1px;
      border:1px solid black;
    }
  }
  .gap-left {
    margin-left:153px;
  }
  .gap-right {
    margin-right:168px;
  }
}

#nav-objects {
  position:absolute;
  top:-50px;
  right:0;
  list-style-type:none;
  margin:0;
  padding:0;
  li {
    float:left;
  }
  a {
    @include ir;
    display:block;
    height:50px;
    width:50px;
    background-repeat:no-repeat;
    background-position:center;
  }
  #nav-prev { background-image:url('/img/prev.png'); }
  #nav-next { background-image:url('/img/next.png'); }
  #nav-close { background-image:url('/img/close.png'); }
}

@mixin logo {
  position:relative;
  &:after {
    content:"";
    width:72px;
    height:72px;
    position:absolute;
    top:310px;
    left:23px;
    background-image:url("/img/logo.png");
  }
}

.logo {
  @include logo;
}

#feature {
  @include logo;
  width:703px;
  height:400px;
  z-index:1;
}

#thumbnails {
  float:left;
  width:459px;
  margin-top:15px;
  a {
    display:block;
    float:left;
    margin-right:15px;
    margin-bottom:15px;
    width:138px;
    height:87px;
    outline:0;
    &:hover {
      border:1px solid black;
      margin:-1px 14px 14px -1px;
    }
  }
}

#description {
  font-size:11px;
  line-height:1.9091; /* 21/11 */
  text-transform:lowercase;
  @include mono;
  position:absolute;
  top:410px;
  left:459px;
  h2, p {
    margin:0;
    font-size:1em;
  }
}

/* emergency number on homepage */
h2.emergency-number {
  @include ir;
  background-image:url('/img/notfall.png');
  width:204px;
  height:25px;
  margin-top:1.3em;
}
p.emergency-number {
  color:red;
}

/* impressum */
footer {
  margin-left:40px;
  margin-top:243px;
  h2 {
    font-size:inherit;
    line-height:inherit;
    margin:0;
    text-transform:lowercase;
  }
  ul {
    padding:0;
    margin:0;
    list-style-type:none;
  }
  a {
    color:inherit;
    text-decoration:none;
    &:hover {
      text-decoration:underline;
    }
  }
}

/* hide impressum when js is available */
.js footer {
  h2 {
    cursor:pointer;
    &:hover {
      text-decoration:underline;
    }
  }
  ul {
    display:none;
  }
}

/* contact & microdata */
#business-name {
  margin-top:1em;
}
#owner {
  display:block;
}
#map {
  margin-top:1em;
  a {
    display:block;
  }
}

/* google search on 404 pages */
#goog-fixurl {
  h3 {
    display:none;
  }
  ul {
    list-style-type:none;
    padding:0;
  }
  #goog-wm-qt {
    border:1px dashed #999;
    padding:0 5px;
    font-family:inherit;
    width:450px;
  }
  #goog-wm-sb {
    font-family:inherit;
    margin-left:10px;
  }
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }

    h1 a:before { content: url("/img/id.png"); }

    nav, #description a { display:none; }

    #main, footer { float:none; margin-left: 20px; margin-top:40px; }
    #feature:after, #main:after { display:none; }
    h2.emergency-number { display:none; /*background-image:none; width:auto; height:auto;*/ }
    p.emergency-number:before { content: url("/img/notfall.png"); display:block; margin:1.3em 0 1em; }
    footer ul { display:block !important; }
}
